// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background-color: grey;
}
img{
	width:20%;
}
.minion{
	height:100px;
	width:100%;
	background-image: url("1.jpg");


}